body {
    font: 20px Comic Sans MS;
    line-height: 2;
    color: #D8DBE2;
    font-weight: 500;
    background-image: linear-gradient(to bottom, blue , purple);;
  }

p {font-size: 22px;
color: #000000}

a:link{
  color: #ffffff;
}
a:visited{
  color: #ffffff;
}

a.logo:hover{
  text-decoration: none;
}

.margin {margin-bottom: 10px;}

.thumb{
  margin-bottom: 15px;
}

.flex{
  display: flex;
  flex-direction: row;
  border: 0px;
}


.element{
  padding: 10px;
  margin-top: 3px;
}

.nav-element{
     background-image: linear-gradient(to right, green , blue);;
  border-radius: 5px;
  margin: 10px;
}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

.navbar{
      background-image: linear-gradient(to bottom, blue , purple);;
  padding: 0px;
  margin-bottom: 0px;
}

.header{
  margin-top: 15px;
  font-size: 3rem;
  text-align: center;
  color: #000000;
}

.top-row{

  margin-top: 10px;

}

.nav{

  margin-right: 30px;
  text-align: center;

}

.desc{

  font-size: 1.5rem;
  line-height: 2.5rem;
  margin: 40px;
  text-align: justify;
  text-justify:  inter-word;

}

.img-responsive{

  border: 10px solid #20447d;
  border-radius: 4px;

}
.drawing{

  width:95%;
  margin-right: 20px;

}

.idea-head{

    font-size: 2.25rem;

}

.abt-img{

  width: auto;
  height: 45rem;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}